@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ListRoles";
}

@if (Model.Any())
{
    <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary">Add New Role</a>
    foreach (var role in Model)
    {
        <div class="card mb-3">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">@role.Name</h5>
            </div>
            <div class="card-footer">
                <a asp-controller="Administration" asp-action="EditRole" asp-route-id="@role.Id" class="btn btn-primary">Edit Role</a>
                <a asp-controller="Administration" asp-action="DeleteRole" class="btn btn-danger">Delete Role</a>
            </div>
        </div>
    }
    
}
else
{
    <div class="card col-md-6">
        <div class="card-header">
            No Roles Created Yet
        </div>
        <div class="card-body">
            <h5 class="card-title">Use the below button to create Role</h5>
            <a asp-controller="Administration" asp-action="CreateRole" class="btn btn-primary">Create Role</a>
        </div>
    </div>
}
