@model StudentManagement.Models.Teacher

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <h4>Create Teacher</h4>
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Qualified" class="control-label"></label>
                <input asp-for="Qualified" class="form-control" />
                <span asp-validation-for="Qualified" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Subjects" class="control-label"></label>
                <input asp-for="Subjects" class="form-control" />
                <span asp-validation-for="Subjects" class="text-danger"></span>
            </div>
            <div class="form-group">
                <button type="submit" class="mt-5 mb-3 btn btn-primary">Save</button>
                <a asp-action="Index" class="mt-5 mb-3 btn btn-secondary">Back to List</a>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
